@using DItest.Models
@model DItest.ViewModel.CustomerViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    @if (Model.Customers != null && Model.Customers.Count() > 0)
    {

        foreach (var item in Model.Customers)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.CustomerName</td>
                <td>@item.CustomerAddress</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id}) |
                    @Html.ActionLink("New Customer", "Entry", new {id = item.Id})
                    @*<button type="button" id="updateBtn" class="btn btn-danger">Update</button>*@
                </td>
            </tr>
        }
    }
    </tbody>
</table>